<div class="page-wrapper">
  <h2><b>H</b>ow to Use</h2>

  <div nz-row>
    <div nz-col nzSm="24" nzMd="12" style="text-align: center;">
      <img style="height: 500px;" src="assets/screenshot-1.png" alt="screenshot 1">
    </div>
    <div nz-col nzSm="24" nzMd="12" style="text-align: center; padding-top: 50px;">
      <h3>Step 1</h3>
      <p>Upload a translation file in <b>.xlf</b> format.</p>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSm="24" nzMd="12" style="text-align: center; padding-top: 50px;">
      <h3>Step 2</h3>
      <p>Translate</p>
    </div>
    <div nz-col nzSm="24" nzMd="12" style="text-align: center;">
      <img style="height: 500px;" src="assets/screenshot-1.png" alt="screenshot 1">
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSm="24" nzMd="12" style="text-align: center;">
      <img style="height: 500px;" src="assets/screenshot-1.png" alt="screenshot 1">
    </div>
    <div nz-col nzSm="24" nzMd="12" style="text-align: center; padding-top: 50px;">
      <h3>Step 3</h3>
      <p>Download the ready-to-use translated file.</p>
    </div>
  </div>
</div>