<div class="page-wrapper">
  <h2><b>H</b>ow to Use</h2>

  <div nz-row>
    <div nz-col nzSm="24" nzMd="12" style="text-align: center;">
      <img style="height: 500px;" src="assets/screenshot-1.png" alt="screenshot 1">
    </div>
    <div nz-col nzSm="24" nzMd="12" style="text-align: center; padding-top: 100px;">
      <h3>Step 1</h3>
      <div class="icon-wrapper">
        <i nz-icon nzType="upload" nzTheme="outline"></i>
      </div>
      <p class="info">Upload a translation file in <b>.xlf</b> format.</p>
      <p class="info-secondary">It's completely safe, since we do everything locally and your translations don't leave the browser.</p>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSm="24" nzMd="12" style="text-align: center; padding-top: 100px;">
      <h3>Step 2</h3>
      <div class="icon-wrapper">
        <i nz-icon nzType="edit" nzTheme="outline"></i>
      </div>
      <p class="info">Add/Edit the missing translation keys</p>
      <p class="info-secondary">Start translating using our editor, customized to boost your performance.</p>
    </div>
    <div nz-col nzSm="24" nzMd="12" style="text-align: center;">
      <img style="height: 500px;" src="assets/screenshot-1.png" alt="screenshot 1">
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSm="24" nzMd="12" style="text-align: center;">
      <img style="height: 500px;" src="assets/screenshot-1.png" alt="screenshot 1">
    </div>
    <div nz-col nzSm="24" nzMd="12" style="text-align: center; padding-top: 100px;">
      <h3>Step 3</h3>
      <div class="icon-wrapper">
        <i nz-icon nzType="download" nzTheme="outline"></i>
      </div>
      <p class="info">Download the translated file</p>
      <p class="info-secondary">Once you're done, just click "Download" and paste the ready-to-use generated file in your application.</p>
    </div>
  </div>
</div>