<div class="layout-container">
  <nz-card>
    <div nz-row>
      <div nz-col [nzMd]="{ span: 16, offset: 4 }" [nzSm]="{ span: 24, offset: 0 }">
        <ng-container *ngTemplateOutlet="sectionsTemplate"></ng-container>
      </div>
    </div>
  </nz-card>
</div>
<div nz-row style="margin-bottom: 40px;"></div>

<ng-template #sectionsTemplate>
  <section>
    <h1>TaalCafe Community Editor Privacy Policy</h1>
  </section>
  <section>
    <h2 class="last-update">Last updated on 7 September 2019</h2>
  </section>
  <section>
    <span style="background-color: #ffe168">This Privacy Policy describes how Taalcafe (also referred to in the following by the words "we“, "us“ und "our“) uses and protects personal data collected at editor.taalcafe.com ("Taalcafe Community Editor Website").</span>
  </section>
  <section>
    <h2>What personal information do we collect from the people that visit our website?</h2>
    <p>TaalCafe Community Editor is an open source project and the purpose of our website is to demonstrate the usage of the Community Editor. The website does not contact any of our servers and as such no data is collected when you use or submit any forms on our website. We do, however, use third party services to track website traffic data to gain insights of website visits.</p>
  </section>
  <section>
    <h2>Do we use cookies?</h2>
    <p>Yes. Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our website, we may collect information from you automatically through cookies or similar technology.</p>
    <p>For further information, visit <a href="www.allaboutcookies.org">allaboutcookies.org</a>.</p>
  </section>
  <section>
    <h2>Third-party disclosure</h2>
    <p>We use third-party services in order to gain insights of usage and traffic to our website.</p>
  </section>
  <section>
    <h2 class="header-grey">Google Analytics</h2>
    <p>Our website uses Google Analytics (Google Dublin, Google Ireland Ltd, Gordon House, Barrow Street, Dublin 4, Ireland. Google Analytics). Google Analytics uses cookies. The information about the way you use our website created by the cookie is usually sent to and stored on a Google server in the USA. IP address anonymisation is performed on our website so that your IP address is truncated beforehand by Google within Member States of the European Union or in other countries which are parties to the agreement on the European Economic Area ("EEA"). Only in exceptional cases is the full IP address sent to and only then truncated on a Google server in the USA. Google uses this information on behalf of TaalCafe to evaluate the way you use our website, to collate reports on website activities and to provide us other services related to website and Internet use. The IP address sent by your browser by Google Analytics is not combined with other data held by Google.</p>
  </section>
  <section>
    <h2>How to contact us</h2>
    <p>If you have any questions about TaalCafe’s Privacy Policy, please do not hesitate to contact us.</p>
    <p>Email us at: <b>privacy@taalcafe.com</b></p>
  </section>
</ng-template>