<nz-table #translationsTable nzBordered [nzData]="translations" nzSize="small">
  <thead>
    <tr>
      <th nzWidth="23%">Key</th>
      <th nzWidth="15%">Default</th>
      <th nzWidth="40%">Translation (German) </th>
      <th nzWidth="2%"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of translationsTable.data; let i = index">
      <td>
        <ng-container>
          {{ data.translationId }}
        </ng-container>
      </td>
      <td>
        <ng-container>
          {{ getSource(data) }}
        </ng-container>
      </td>
      <td (click)="startEdit(i)">
        <ng-container *ngIf="!editCache[i].edit; else translationInputTpl">
          {{ getTarget(data) }}
        </ng-container>
        <ng-template #translationInputTpl>
          <app-taal-editor (onChange)="translationUpdated($event, i)" [initialValue]="{ parts: data.parts, icuExpressions: data.icuExpressions }"></app-taal-editor>
        </ng-template>
      </td>
      <td>
        <button
          nz-button
          nzType="primary"
          nzGhost
          (click)="saveEdit(i)"><i nz-icon type="check"></i></button>
      </td>
    </tr>
  </tbody>
</nz-table>