
<nz-table #translationsTable
  nzBordered
  nzSize="small"
  [nzPageIndex]="page$ | async"
  [nzData]="translations"
  [nzTotal]="total"
  [nzFrontPagination]="false"
  [nzShowQuickJumper]="true"
  [nzShowSizeChanger]="true"
  (nzPageIndexChange)="onPageChange($event)"
  (nzPageSizeChange)="onPageSizeChange($event)">
  <thead>
    <tr>
      <th nzWidth="32px"></th>
      <th nzWidth="15%">Key</th>
      <th nzWidth="30%">Source (<b>{{ sourceLanguage }}</b>)</th>
      <th>Target (<b>{{ targetLanguage }}</b>)</th>
      <th nzWidth="90px"></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of translationsTable.data; let index = i">
      <tr translationTableRow
        [edit]="(editMap$ | async)?.get(data.translationId)"

        [translation$]="getTranslationObservableByTranslationId(data.translationId)"

        [missingTranslation]="missingTranslationsMap[data.translationId]"
        [invalidTranslation]="invalidTranslationsMap[data.translationId]"

        [missingPlaceholders]="missingPlaceholdersMap?.get(data.translationId)"
        [missingICUExpressions]="missingICUExpressionsMap?.get(data.translationId)"

        (updateMissingPlaceholders)="updateMissingPlaceholders($event, data.translationId)"
        (updateMissingICUExpressions)="updateMissingICUExpressions($event, data.translationId)"
        (startEdit)="startEdit($event)"
        (saveEdit)="saveEdit($event)"></tr>
    </ng-container>
  </tbody>
</nz-table>