<nz-table #translationsTable nzBordered [nzData]="translations" nzSize="small">
  <thead>
    <tr>
      <th nzWidth="23%">Key</th>
      <th nzWidth="15%">Source (<b>{{ sourceLanguage }}</b>)</th>
      <th nzWidth="40%">Target (<b>{{ targetLanguage }}</b>)</th>
      <th nzWidth="2%"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of translationsTable.data; let i = index" [ngClass]="{ 'invalid-row': invalidTranslationsMap[data.translationId]}">
      <td>
        <ng-container>
          {{ data.translationId }}
        </ng-container>
      </td>
      <td>
        <ng-container>
            <!-- <app-taal-editor
            (taalEditorChange)="taalEditorChange($event)"
            [index]="i"
            [initialValue]="{ parts: data.parts, icuExpressions: data.icuExpressions }"></app-taal-editor> -->
        </ng-container>
      </td>
      <td (click)="startEdit(i)">
            {{data.targetParts}} - {{data.icuExpressions}}
            <app-taal-editor
              (taalEditorChange)="taalEditorChange($event)"              
              [index]="i"
              [initialValue]="{ parts: data.targetParts, icuExpressions: data.icuExpressions }"></app-taal-editor>
      </td>
      <td>
        <button
          nz-button
          nzType="primary"
          nzGhost
          (click)="saveEdit(i)"><i nz-icon type="check"></i></button>
      </td>
    </tr>
  </tbody>
</nz-table>