<div class="home-page-wrapper page1">
    <div class="home-page">
        <h2><b>F</b>eatures</h2>
        <div class="page1-content">
            <div nz-row>
                <div nz-col class="page1-item" nzXs="24" nzMd="8">
                    <a class="page1-item-link" href="/docs/introduce">
                        <div class="point-wrapper"></div>
                        <div class="page1-item-img"><img src="https://gw.alipayobjects.com/zos/rmsportal/QCcDSfdbCIbVSsUZJaQK.svg" alt="img"></div>
                        <div class="page1-item-title">Free</div>
                    </a>
                </div>
                <div nz-col class="page1-item" nzXs="24" nzMd="8">
                    <a class="page1-item-link" href="/docs/download">
                        <div class="point-wrapper"></div>
                        <div class="page1-item-img"><img src="https://gw.alipayobjects.com/zos/rmsportal/hMSnSxMzmiGSSIXxFtNf.svg" alt="img"></div>
                        <div class="page1-item-title">Blazing Fast</div>
                    </a>
                </div>
                <div nz-col class="page1-item" nzXs="24" nzMd="8">
                    <a class="page1-item-link" href="/docs/guide/layout">
                        <div class="point-wrapper"></div>
                        <div class="page1-item-img"><img src="https://gw.alipayobjects.com/zos/rmsportal/OMEOieDFPYDcWXMpqqzd.svg" alt="img"></div>
                        <div class="page1-item-title">Simple</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>