<div class="home-page-wrapper page1">
    <div class="home-page">
        <h2><b>W</b>hy Us</h2>
        <div class="page1-content">
            <div nz-row>
                <div nz-col class="page1-item" nzXs="24" nzMd="8">
                    <a class="page1-item-link">
                        <div class="point-wrapper"></div>
                        <div class="page1-item-img"><img src="assets/free.png" alt="img"></div>
                        <div class="page1-item-title">Free</div>
                    </a>
                </div>
                <div nz-col class="page1-item" nzXs="24" nzMd="8">
                    <a class="page1-item-link">
                        <div class="point-wrapper"></div>
                        <div class="page1-item-img"><img src="assets/fast.png" alt="img"></div>
                        <div class="page1-item-title">Blazing Fast</div>
                    </a>
                </div>
                <div nz-col class="page1-item" nzXs="24" nzMd="8">
                    <a class="page1-item-link">
                        <div class="point-wrapper"></div>
                        <div class="page1-item-img"><img src="assets/easy.png" alt="img"></div>
                        <div class="page1-item-title">Easy</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>