<nz-card [nzCover]="coverTemplate" [nzBordered]="false" (click)="openModal()">
  <h2 class="card-title">New Application</h2>
</nz-card>

<ng-template #coverTemplate>
  <i nz-icon nzType="plus" nzTheme="outline"></i>
  <!-- <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" /> -->
</ng-template>

<nz-modal
  [(nzVisible)]="showModal"
  nzTitle="Create Application"
  [nzFooter]="null" (nzOnCancel)="handleCancel()">
  <app-new-application-form
    *ngIf="showModal"
    [pending]="pending"
    [error]="error"
    (cancel)="handleCancel()"
    (ok)="handleOk($event)"></app-new-application-form>
</nz-modal>