@import (reference) '../../../../styles/styles';

span.placeholder {
    color: @primary-color;
    padding: 2px 5px;
    border-width: 1px;
    border-radius: 4px;
    border-color: @primary-color;
    border-style: dashed;
    
    display: inline-block;

    cursor: pointer;
    margin-left: 1px;
    margin-right: 1px;
}