<div class="layout-container">
  <nz-page-header
    (nzBack)="onBack()"
    nzBackIcon
    nzTitle="Applications"
    nzSubtitle="by {{orgName}}">
  </nz-page-header>
  <div nz-row [nzGutter]="{ xs: 30, sm: 30, md: 30, lg: 30, xl: 30, xxl: 30 }">
    <div nz-col nzLg="8" nzMd="12">
      <app-new-application-card (ok)="onNewApplication($event)"></app-new-application-card>
    </div>
    <div nz-col *ngFor="let application of apps | async" nzLg="8" nzMd="12">
      <app-application-card [application]="application"></app-application-card>
    </div>
  </div>
</div>
<div class="layout-margin-bottom"></div>
