
  <nz-upload
    nzType="drag"
    [nzCustomRequest]="process"
    [nzShowUploadList]="false"
    (nzChange)="handleChange($event)"
    [nzBeforeUpload]="beforeUpload"
    [nzDisabled]="pending">
    <nz-spin [nzSpinning]="pending" [nzIndicator]="indicatorTemplate" [nzTip]="state">
      <p class="ant-upload-drag-icon" [ngStyle]="{ 'visibility': pending ? 'hidden' : 'inherit' }">
        <i nz-icon nzType="inbox"></i>
      </p>
      <p class="ant-upload-text" [ngStyle]="{ 'visibility': pending ? 'hidden' : 'inherit' }">Click or drag <b>.xliff</b> file to this area to upload</p>
      <p class="ant-upload-hint" [ngStyle]="{ 'visibility': pending ? 'hidden' : 'inherit' }">
        Upload your translation file and let's get started
      </p>
    </nz-spin>
  </nz-upload>

<ng-template #indicatorTemplate><i nz-icon nzType="loading" style="font-size: 35px;"></i> </ng-template>


<nz-modal
  [(nzVisible)]="showModal"
  [nzFooter]="null"
  nzTitle="One more thing, before we start">
  
  <app-missing-information-form *ngIf="showModal"
    [sourceLanguage]="sourceLanguage"
    [targetLanguage]="targetLanguage"
    (save)="onSaveMissingInformation($event)"></app-missing-information-form>
</nz-modal>