<td style="vertical-align: top;">
    <i *ngIf="!missingTranslation && !invalidTranslation" style="color: rgb(82, 196, 26)" nz-icon nzType="check-circle" nzTheme="outline"></i>
    <i *ngIf="missingTranslation" style="color: rgba(0, 0, 0, 0.65);" nz-icon nzType="ellipsis" nzTheme="outline"></i>
    <i *ngIf="invalidTranslation" style="color: red" nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
  </td>
  <td style="vertical-align: top;">
    <span style="max-width: 100px">{{ translationId.length > 28 ? (translationId | slice:0:28) + '...' : translationId }}</span>
  </td>
  <td style="vertical-align: top;">
    <ng-container>
      <app-taal-editor
        [readonly]="true"
        [id]="translationId"
        [parts]="parts"
        [icuExpressions]="icuExpressions"></app-taal-editor>
    </ng-container>
  </td>
  <td style="vertical-align: top;">
    <app-taal-editor
      (click)="startEditFn()"
      (taalEditorChange)="taalEditorChange($event)"              
      [id]="translationId"
      [parts]="targetParts"
      [action$]="taalEditorActionDispatcher.asObservable()"
      [icuExpressions]="icuExpressions"></app-taal-editor>

      <div style="margin-top: 10px;" *ngIf="edit && (missingPlaceholders?.length || missingICUExpressions?.length || icuExpressionTree)">
        <app-target-translation-extra
          [translationId]="translationId"
          [icuExpressionTree]="icuExpressionTree"
          [taalEditorActionDispatcher]="taalEditorActionDispatcher"
          [save$]="save.asObservable()"

          [missingPlaceholders]="missingPlaceholders"
          [missingICUExpressions]="missingICUExpressions"
          
          (updateMissingPlaceholders)="updateMissingPlaceholdersFn()"
          (updateMissingICUExpressions)="updateMissingICUExpressionsFn()"
          (updateICUExpressions)="updateICUExpressions($event)"></app-target-translation-extra>
      </div>
  </td>
  <td style="vertical-align: top;">
    <button
      style="display: inline-block;"
      [nzSize]="'small'"
      nz-button
      nzType="primary"
      nzGhost
      [disabled]="!edit"
      (click)="saveEditFn()"><i nz-icon nzType="check"></i></button>
      <button
      style="display: inline-block; margin-left: 8px;"
      [nzSize]="'small'"
      nz-button
      nzType="danger"
      nzGhost
      [disabled]="!edit"
      (click)="undoEditFn()"><i nz-icon nzType="undo"></i></button>
  </td>