<div class="layout-container">
    <nz-page-header
      (nzBack)="onBack()"
      nzBackIcon
      [nzTitle]="titleTemplate">
      <nz-page-header-content>
        <ng-container *ngIf="(missingTranslationsMap$ | async) as missingTranslationsMap">
          <div style="display: inline-block" *ngIf="getObjectKeysLength(missingTranslationsMap) > 0"><span style="color: red">{{ getObjectKeysLength(missingTranslationsMap) }}</span> out of {{ (translationsCount$ | async) }} translations are missing</div>
          <div style="display: inline-block" *ngIf="getObjectKeysLength(missingTranslationsMap) <= 0">All {{ (translationsCount$ | async) }} translations are completed!</div>    
        </ng-container>
        <ng-container *ngIf="(invalidTranslationsMap$ | async) as invalidTranslationsMap">
          <div style="margin-left: 30px; display: inline-block" *ngIf="getObjectKeysLength(invalidTranslationsMap) > 0"><span style="color: red">{{ getObjectKeysLength(invalidTranslationsMap) }}</span> translation(s) are invalid</div>
        </ng-container>
      </nz-page-header-content>
      <nz-page-header-footer>
        <nz-tabset (nzSelectedIndexChange)="onTabChange($event)"
          [nzTooltipTitle]="!(editMapEmpty$ | async) ? null : 'Please save or undo your ongoing translations before you change the tab'"
          [nzOverlayStyle]="{'min-width': '500px'}"
          nzTooltipPlacement="bottom"
          nz-tooltip>
          <nz-tab nzTitle="All Translations" [nzDisabled]="!(editMapEmpty$ | async)"></nz-tab>
          <nz-tab nzTitle="Missing Translations" [nzDisabled]="!(editMapEmpty$ | async)"></nz-tab>
        </nz-tabset>
      </nz-page-header-footer>
    </nz-page-header>
    <ng-container>
      <app-translations-table
        [pending]="downloadFilePending$ | async"
        [pendingStatus]="downloadFileStatus$ | async"
        [total]="totalTranslations$ | async"
        [translations]="translations$ | async"
        [sourceLanguage]="sourceLanguage$ | async"
        [targetLanguage]="targetLanguage$ | async"

        [missingTranslationsMap]="missingTranslationsMap$ | async"
        [invalidTranslationsMap]="invalidTranslationsMap$ | async"

        [missingPlaceholdersMap]="missingPlaceholdersMap$ | async"
        [missingICUExpressionsMap]="missingICUExpressionsMap$ | async"></app-translations-table>
    </ng-container>
</div>
<div nz-row style="margin-bottom: 40px;"></div>


<ng-template #titleTemplate>
    Translations ({{(sourceLanguage$ | async)}}-{{(targetLanguage$ | async)}})
    <button style="margin-left: 20px;"
      class="download-button" nz-button nzType="primary"
      [nzSize]="'small'"
      nzShape="round"
      [nzLoading]="downloadFilePending$ | async"
      (click)="download()"><i nz-icon nzType="download"></i> Download as .xlf</button>
</ng-template>