@import (reference) '../../../../styles/styles';

nz-footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 0 50px;
    width: 100%;
    background-color: white;
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
}

nz-page-header {
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    
}