<div class="layout-container">
    <nz-page-header
      (nzBack)="onBack()"
      nzBackIcon
      nzTitle="Translations"
      nzSubtitle="for Application Name - Version 1.0.10">
    </nz-page-header>
</div>

<nz-footer>
  <ul nz-menu [nzMode]="'horizontal'">
    <li nz-menu-item><i nz-icon nzType="message" nzTheme="outline"></i> Comments</li>
    <li nz-menu-item><i nz-icon nzType="profile" nzTheme="outline"></i> Notes</li>
    <li nz-menu-item><i nz-icon nzType="flag" nzTheme="outline"></i> Flag</li>
    <li nz-menu-item><i nz-icon nzType="bell" nzTheme="outline"></i> Postpone</li>
  </ul>
</nz-footer>