<nz-card style="min-width:330px;" [nzTitle]="titleFrom">
  <p>Boy favourable day can introduced sentiments entreaties. Noisier carried of in warrant because. So mr plate seems cause chief widen first. Two differed husbands met screened his. Bed was form wife out ask draw.</p>
  <form nz-form>
    <nz-form-item style="margin-bottom: 0px;">
      <nz-form-control>
        <textarea nz-input rows="4" placeholder="Translation"></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>

<ng-template #titleFrom>
  key.name
  <div nz-row>
    <p class="description">This is a short description</p>
  </div>
</ng-template>