<div class="layout-container">
  <nz-page-header
    (nzBack)="onBack()"
    nzBackIcon
    nzTitle="Translation Versions"
    nzSubtitle="for Application Name">
  </nz-page-header>
  <div nz-row style="padding: 0 32px;">
    <div nz-col></div>
    <ng-container *ngTemplateOutlet="versionsList"></ng-container>
  </div>
</div>
<div class="layout-margin-bottom"></div>
  
<ng-template #versionsList>
  <nz-list
    class="demo-loadmore-list"
    [nzDataSource]="list"
    [nzItemLayout]="'horizontal'"
    [nzLoading]="initLoading"
    [nzRenderItem]="item"
    [nzLoadMore]="loadMore">
    <ng-template #item let-item>
      <nz-list-item
        [nzContent]="item.loading ? '' : 'content'"
        [nzActions]="item.loading ? [] : [editAction, moreAction]"
      >
        <nz-skeleton [nzAvatar]="true" [nzActive]="true" [nzTitle]="false" [nzLoading]="item.loading">
          <ng-template #editAction><a (click)="edit(item)">edit</a></ng-template>
          <ng-template #moreAction><a (click)="edit(item)">more</a></ng-template>
          <nz-list-item-meta
            [nzDescription]="nzTitle"
          >
            <ng-template #nzTitle>
              <i style="font-size: 24px; margin-right: 5px;" nz-icon nzType="file-text" nzTheme="outline"></i>
              <p style="font-size: 16px; margin-bottom: 0px;"> Version <b>1.0.{{ item.name.last.length }}</b></p>
            </ng-template>
          </nz-list-item-meta>
        </nz-skeleton>
      </nz-list-item>
    </ng-template>
    <ng-template #loadMore>
      <div class="loadmore">
        <button nz-button *ngIf="!loadingMore" (click)="onLoadMore()">loading more</button>
      </div>
    </ng-template>
  </nz-list>
</ng-template>