<div class="layout-container">
  <nz-page-header
    (nzBack)="onBack()"
    nzBackIcon
    nzTitle="Translation Versions"
    nzSubtitle="for Application Name">
  </nz-page-header>

  <nz-card [nzBordered]="false">
    <div nz-row nzType="flex" nzJustify="space-between">
      <h2 class="card-title">Version 1.0.10 - Latest</h2>
      <button nz-button nzType="primary"><i nz-icon type="edit"></i>Continue Editing</button>
    </div>
    <div class="card-footer">
      <span class="updated-date"><span class="updated-date-label">LAST UPDATE: </span> <span class="updated-date-value">{{ '2019-04-06T22:36:40.937Z' | date:'dd/MM/yy hh:mm' }}</span></span>
    </div>
  </nz-card>
  
  <div nz-row style="padding: 0 32px;">
    <div nz-col></div>
    <ng-container *ngTemplateOutlet="versionsList"></ng-container>
  </div>
</div>
<div class="layout-margin-bottom"></div>





<ng-template #versionsList>
  <nz-list
    class="demo-loadmore-list"
    [nzDataSource]="list"
    [nzItemLayout]="'horizontal'"
    [nzLoading]="initLoading"
    [nzRenderItem]="item"
    [nzLoadMore]="loadMore">
    <ng-template #item let-item>
      <nz-list-item
        [nzContent]="item.loading ? '' : contentTemplate"
        [nzActions]="item.loading ? [] : [editAction, moreAction]"
      >
        <nz-skeleton [nzAvatar]="true" [nzActive]="true" [nzTitle]="false" [nzLoading]="item.loading">
          <ng-template #editAction><a (click)="edit(item)"><i style="font-size: 24px;" nz-icon nzType="edit" nzTheme="outline"></i></a></ng-template>
          <ng-template #moreAction><a (click)="edit(item)"><i style="font-size: 24px;" nz-icon nzType="download" nzTheme="outline"></i></a></ng-template>
          <nz-list-item-meta
            [nzDescription]="nzTitle"
          >

            <ng-template #nzTitle>
              <i style="font-size: 24px; margin-right: 5px;" nz-icon nzType="file-text" nzTheme="outline"></i>
              <p style="font-size: 16px; margin-bottom: 0px;"> Version <b>1.0.{{ item.name.last.length }}</b></p>
            </ng-template>

            <ng-template #contentTemplate>
              <nz-tag *ngIf="item.index === 3" [nzColor]="'blue'">Production</nz-tag>
              <nz-tag *ngIf="item.index === 1" [nzColor]="'green'">Stage</nz-tag>
              <nz-tag *ngIf="item.index === 0" [nzColor]="'volcano'">Test</nz-tag>
            </ng-template>

          </nz-list-item-meta>
        </nz-skeleton>
      </nz-list-item>
    </ng-template>
    <ng-template #loadMore>
      <div class="loadmore">
        <button nz-button *ngIf="!loadingMore" (click)="onLoadMore()">Show More</button>
      </div>
    </ng-template>
  </nz-list>
</ng-template>